.title, .error {
  padding : 15px 0 5px 15px;
}

.list-head {
  width : 60%;
  padding: 0 15px;
}

.table {
  display : flex;
  flex-direction : column;
  width: 60%;
  padding: 5px 15px;
}

.odd {
  background-color: #e6e6fa;
}

.name {
  width : 40%;
  padding-left: 5px;
}

.table-header {
  display : flex;
  justify-content : space-between;
  background-color : #000033;
  color : white;
  padding : 10px 5px;
}

.table-columns {
  border: 2px solid #ccccff;
}

.repo {
  display: flex;
  justify-content: center;
}

.url {
  width: 60%;
  padding-right: 5px;
}