<div class="repos-of-user-comp">
  <div class="error" *ngIf="error">
    No such repository exists for {{ userId }}.
  </div>

  <div class="title" *ngIf="userId">
    GitHub repositories of {{ userId }} are :
  </div>

  <div class="list-head">
    <app-list-head [params]="listHeadParam" (actionType)="getDataForAction($event)">
    </app-list-head>
  </div>

  <div class="table" *ngIf="repos">
    <div class="table-header">
      <div class="name">
        Repo Name
      </div>

      <div class="url">
        Repo URL
      </div>
    </div>

    <div class="table-columns">
      <div class="repo" *ngFor="let repo of repos; let i=index" [ngClass]="{'odd' : i % 2 === 1}">
        <div class="name">
          {{ repo.name }}
        </div>

        <div class="url">
          {{ repo.url }}
        </div>
      </div>
    </div>
  </div>
</div>