:host {
  font-family: fantasy;
  font-size: 16px
}

.toolbar {
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	height : 70px;
	display : flex;
	align-items : center;
	background-color : #000033;
	color : white;
}

.title {
	margin : auto;
	font-size: 20px;
}

.outlet {
  position : absolute;
  top : 70px;
  left : 0;
  right: 0;
}